
.a,.b,.c,.d {
    width: 100px; ;
    height: 80px;
    position: absolute;
}
.a {
    background-color: red;
    left: 10px;
}

.b {
    background-color: green;
    left: 20;
}
.c {
    background-color: yellow;
    left: 30;
}
.d {
    background-color:blue ;
    left: 40;
}